nav, header{
  background-color: #101033;
}

nav{
  border-bottom: 2px solid white;
}

footer{
  background-color: #000000;
  border-top: white 2px solid; 
  color: white;

  font: 12px Lato, sans-serif;
    padding:  20px;
  padding-bottom: 60px;
}


footer p.Popups:hover{
  cursor: pointer;
  text-decoration: underline;
}


.buscar{
  margin: 1em 0em 0em 6em;
  width: 550px;
}

.Centro_Pagina{
  width: 70%;
  background-color: white;
  padding-bottom: 6em;
  margin: auto;
  text-align: center;
}

.Centro_Pagina iframe{
  margin: auto;
}

.Fondo_Arreglado{
    background-image: url('../res/galaxy-space-nebula-atmosphere-universe-ART-611568-wallhere.com.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.footer_1{
  margin-top: 25px;
  float: right;
}

.footer_2{
  float: left;
}


.Titulo_Pagina h1{
  display:inline-block;
  font: 22px arial, sans-serif;
  font-style: bold;
  padding-left: 2.4em;
  color: white;
  font-weight: 700;
}


.Titulo_Pagina h1:hover{
  cursor: help;
}

.Titulo_Pagina{
  text-align: center;
  color: white;
}

.Logo{
  display: inline;
  width: 10%;
}


.menu_derecha{
  float: right;
}

.Centro_Pagina h2{
  font-size: 22px;
  padding-top: 10px;
}


/*Buscar Articulos*/

.buscar{
 width: 700px;
}

.buscar_btn{
  visibility: hidden;
}

table.Busqueda{
display: table;
width: 100%;
border-collapse: separate;
border-spacing: 0px;
border: 1px solid gray;
}

table.Busqueda tr{
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

table.Busqueda th{
display: table-cell;
vertical-align: inherit;
font-weight: bold;
text-align: center;
border: 1px solid gray;
}

table.Busqueda td{
display: table-cell;
vertical-align: inherit;
border: 1px solid gray;
}



table.Busqueda tfoot{
display: table-footer-group;
vertical-align: middle;
border-color: inherit;
}



/*Fin buscar articulos*/

/* Contactanos */
.Centro_Pagina #form_comentario input{
 margin-top: 10px; 
}

.Centro_Pagina #form_comentario{
  text-align: left;
}

.Centro_Pagina .icono, .Centro_Pagina #comentario{
   margin-left: 100px;
}

.Centro_Pagina .icono{
  display: inline;
  width: 3%;
  margin-right: 10px;
}

.Centro_Pagina .comentario_btn{
  margin-left: 100px;
}

.Centro_Pagina .texto{
  width: 500px;
}

.comentario_mapa{
  padding-top: 50px;
}

.Centro_Pagina #comentario{
  margin-top: 10px;
  width: 70%;
  resize: none;
}

/*Fin contactanos*/
/*/////Resoluciones menores a 1200px*/
@media (max-width: 1200px){
/*BUSCAR ARTICULO*/
.buscar{
 margin-left: 10px;
 width: 80%;
}

.Centro_Pagina iframe{
  width: 80%;
}

/*CONTACTANOS*/

.Centro_Pagina #form_comentario input{
 margin-top: 10px; 
}

.Centro_Pagina #form_comentario{
  text-align: left;
}

.Centro_Pagina .icono, .Centro_Pagina #comentario{
   margin-left: 10px;
}

.Centro_Pagina .icono{
  display: inline;
  width: 20px;
  margin-right: 10px;
}

.Centro_Pagina .comentario_btn{
  margin-left: 100px;
}

.Centro_Pagina .texto{
  width: 80%;
}

.Centro_Pagina #comentario{
  margin-left: 50px;
}


}

@media (max-width: 720px){

.Centro_Pagina{
  padding-bottom: 0.8em;
}  

}




/*Estilos de prueba (debug)*/


/*fin estilos de prueba*/
