nav.navegacion a:hover{
  color: orange;
  cursor: pointer;
}



.navegacion li, .navegacion a, .navegacion ul{
  display: inline;
  color: white;
  background-color: #101033;
  font: 18px arial, sans-serif;
}

.navegacion a{
	font-style: none;
	color: white;
	padding: 0px 8px 0px 8px;
}

.navegacion a:link,.navegacion a:visited,.navegacion a:hover,.navegacion a:active{
  text-decoration: none;
  color: white;
}

.navegacion li  a{
	display: inline-block;
}

.navegacion li ul{
	display: none;
	position: absolute;
	width: 130px;
}


.navegacion li > ul{
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white,
}

.navegacion li:hover > ul{
	display: block;
}


img.idioma{
  width: 20%;
}

nav li.idioma{
  padding-top: 3px;
}

img.idioma_nav{
  width: 11%;
}

/*Tablets & Celulares*/
@media (max-width: 768px){


}